*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Roboto',sans-serif;
    min-width: 1024px;
    max-width: 1400px;
    background: #fafafa;
}
nav{
    min-width: 1024px;
    max-width: 1400px;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: solid #dbdbdb 1px;
    background: #fff;
}
.nav-cont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.cont-input{
    height: 28px;
    border: solid 1px #dbdbdb;
    display: flex;
    align-items: center;
    background: #fafafa;
    padding: 5px;
}
.cont-input input{
    border: 0;
    outline: none;
    background: #fafafa;
}
.iconos svg{
    margin:  0 10px;
    cursor: pointer;
}
.iconos .small-logo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
header{
    width: 60%;
    margin: auto;
    transform: translateY(50px);
    padding: 20px 0;
}
.perfil-container{
    display: flex;
}
.perfil-container img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.contenedor-cabecera{
    margin-left: 100px;
    justify-content: space-between;
}
.cabecera1{
    width: 290px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
    
}
.cabecera1 h1{
    color: #616161;
    font-weight: 40;
    font-size: 15px;
    margin-right:15px
}
.cabecera1 button{
    width: 150px;
    height: 20px;
    background-color: #fafafa;
    border: solid #dbdbdb 1px;
    cursor: pointer;
    justify-content: space-between;
    margin-right:7px
}
.cabecera1 svg{
    cursor: pointer;
    margin-right:15px
}
.cabecera2{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 15px;
    margin-right:15px
    
}
.cabecera3 h2,
.cabecera3 .p-frase{
    font-size: 16px;
    margin-bottom: 5px;
    margin-right:15px
}

.cabecera3 .p-frase{
    color: #a2a2a2;
}

.historias{
    width: 90px;
    margin-top: 50px;
    transform: translateX(-45px);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    
}
.historia1 img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    
}
.historia2 img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;

}
.historia3 img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;

}

.linea{
    width: 100%;
    height: 1px;
    margin: auto;
    background-color: #dbdbdb;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 15px;
}
.main-nav a{
    color: #333;
    text-decoration: none;
    font-size: 13px;
}
main{
    width: 70%;
    margin: auto;
    margin-top: 60px;
}
.mainCont__grid{
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(5,auto);
    gap: 2%;
    height: 10px;
}
.mainCont__grid img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}